# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# Caches & Environments
.venv/
venv/
ENV/
env/
.pytest_cache/
.vercel/

# Media files
*.wav
*.mp3

# Operating System files
.DS_Store
Thumbs.db
